body{
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.75fr 0.75fr;
    align-items: center;
    background-color: #131921;
    color: white;
    padding: 10px;
    text-align: center;
    height: 100px;
}

.search-bar{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 400px 40px;
}

.search{
    width: 400px;
    height: 50px;
}
.search-button{
    width: 50px;
    height: 50px;
    background-color: #febd69;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.returns-orders{
    font-size: 24px;
    width: 105px;
}
.orders{
    font-weight: bold;
}

.cart-link{
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon{
     width: 60px;
}
.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;
  
  width: 26px;
  text-align: center;
}


.js-products-grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 35px;
    row-gap: 20px;
    align-items: center;
    
}

.product-container{
    width: 200px;
    height: 500px;
    margin: 10px;

}

.product-image-container{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
   
}

.product-image{
    width: 200px;
    height: 200;
    object-fit: contain;
}
.product-name{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-left: 10px;
}
.product-rating-container{
    display: grid;
    grid-template-columns: 100px 50px;
    column-gap: 10px;
    padding: 10px;
    margin-left: 10px;
  
}

.product-rating-stars{
    width: 100px;
    height: 20px;
    object-fit: contain;
}

.product-rating-count{
    font-size: 20px;
    color: #555555;
    align-self: center;
}
.product-price{
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
    margin-left: 10px;
}
.quantity-select{
    width: 80px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}

.add-to-cart{
    width: 180px;
    height: 40px;
    background-color: #ffd814;
    border: 1px solid #fcd200;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

