body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.checkout-header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-left: 80px;
  margin-top: 50px;
  margin-right: 80px;
  height: 200px;
  width: 100%;
}
.logo{
  height: 200px;
}

.amazon-logo{
  width: 200px;
  height: 80px;

}
.checkout-title{
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color:black;
}
.item-quantity{
  color: darkblue;
}

.checkout-lock{
  width: 80px;
  height: 80px;
 margin-left: 200px;
}
.checkout-main{
  margin-left: 80px;
  margin-right: 80px;
}

h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.checkout-main{
  display: grid;
  width:100%;
  grid-template-columns: 50% 40%;
  column-gap: 20px;

}

.checkout-left{
  /* background-color: red; */
  padding: 20px;
  
}

.review{
  font-size: 24px;
  font-weight: bold;
}

.checkout-container{
  width: 700px;
  height: 250px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;
}

.delivery-image{
  width: 150px;
  height: 150px;
}

.delivery-date{
  font-size: 18px;
  font-weight: bold;
  color: green;
  padding-left: 10px;
}
.shipping-dates{
  margin-bottom: 10px;
}

.free{
 
  padding-left: 25px;
}


.checkout-items{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  column-gap: 15px;
  padding: 10px;
}

.checkout-right{
 
padding: 20px;

}

.payment-summary{
  border: 2px solid gray;
  border-radius: 10px;
  padding: 20px;
  height: 300px;
  width: 350px;
}

.link-primary{
  color: #0066c0;
  font-weight: bold;
  cursor: pointer;
  
}

.delivery-options-title{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.review{
  margin-left: 100px;
  font-size: 24px;
}

.payment-summary-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-button{
  background-color: #ffd814;
  border: 1px solid #fcd200;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}

.payment-summary-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total-row{
  font-size: 28px;
  font-weight: bold;
  border-top: 1px solid gray;
  padding-top: 10px;
  color: brown;
}

.sub-total-row{
   border-top: 1px solid gray;
}